[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
src = {editable = true,file = "file:///Users/zarak/Research/focus_plots"}
click = "*"
coverage = "*"
awscli = "*"
flake8 = "*"
python-dotenv = ">=0.5.1"
Sphinx = "*"
pytest = "*"
jupyter = "*"
pandas = "*"
numpy = "*"
streamlit = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"

[requires]
python_version = "3.8"
